<!DOCTYPE html>
<html lang="en">
<html>
{% include "header.html" %}
    <body>
        <div class="container">
            <div>
                {% include "navbar.html" %}
            </div>
            <div class="card mt-2 theme-changeable">
                <div class="card-body">
                   <div class="row">
                        <div class="col">
                            <a type="button" class="btn btn-block bg-theme" href="/timeTracking">
                                Track Time
                            </a>
                        </div>
                        <div class="col">
                            <a type="button" class="btn btn-block bg-theme" href="/registerProject">
                                Add Project
                            </a>
                        </div>
                        <div class="col">
                            <a type="button" class="btn btn-block bg-theme" href="/projects">
                                Project List
                            </a>
                        </div>
                    </div>
                </div>                
            </div>
        </div>
{% include "footer.html" %}
    </body>
</html>